*{
    margin: 0 auto;
    padding: 10px;
    color: black;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;

}

.cima,
.meio{
    display: flex
}

.cima-dir,
.cima-esq{
    flex: 1
}

.meio-dir,
.meio-esq{
    flex: 1
}

.baixo{
    text-align: center
}

.baixo input{
    margin-top: 80px;
    cursor: pointer
}