*{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

table{
    margin: 50px auto;
    text-align: center;
    width: 80%;
    border-collapse: collapse;
}

th,
td{
    border: 1px solid black;
    background-color: gray;
}

table, th, td, input{
    padding: 10px
}

.tabela table th{
    border: 1px solid black;
    background-color: darkgray;
}

table tr td.excluir{
    background: darkgray;
    color: black;
}

table th.excluir, td.excluir{
    border: none;
}

h1{
    margin-top: 50px
}

input{
    cursor: pointer;
}